In [95]:
import pandas as pd

In [96]:
import numpy as np

In [97]:
chicago_df = pd.read_csv('chicago.csv')

In [98]:
chicago_df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0
...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0

In [99]:
new_york_city_df = pd.read_csv('new_york_city.csv')

In [100]:
washington_df = pd.read_csv('washington.csv')

In [101]:
df = [chicago_df, new_york_city_df, washington_df]

In [102]:
for data in df:
    data['Start Time'] = pd.to_datetime(data['Start Time'])
    data['month'] = data['Start Time'].dt.month
    data['day_of_week'] = data['Start Time'].dt.day_name()
    data['hour'] = data['Start Time'].dt.hour

In [103]:
df[0]

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week,hour
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,6,Friday,15
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,5,Thursday,18
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1,Wednesday,8
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,3,Monday,13
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1,Tuesday,14
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0,1,Saturday,13
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN,4,Friday,19
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0,2,Sunday,9
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN,4,Sunday,17
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0,5,Tuesday,12

In [104]:
most_popular_month_list = []

In [105]:
most_popular_day_list = []

In [106]:
most_popular_hour_list = []

In [107]:
cities = ['chicago', 'new york city', 'washington']

In [108]:
for data in df:
    most_popular_month = data['month'].mode()[0]
    most_popular_month_list.append(most_popular_month)
    most_popular_day = data['day_of_week'].mode()[0]
    most_popular_day_list.append(most_popular_day)
    most_popular_hour = data['hour'].mode()[0]
    most_popular_hour_list.append(most_popular_hour)

In [109]:
print(most_popular_month_list)
print(most_popular_day_list)
print(most_popular_hour_list)

[6, 6, 6]
['Tuesday', 'Wednesday', 'Wednesday']
[17, 17, 8]

In [110]:
for x, y in zip(cities, most_popular_month_list):
    print(x, y)
for x, y in zip(cities, most_popular_day_list):
    print(x, y)
for x, y in zip(cities, most_popular_hour_list):
    print(x, y)

chicago 6
new york city 6
washington 6
chicago Tuesday
new york city Wednesday
washington Wednesday
chicago 17
new york city 17
washington 8

In [111]:
most_popular_month_dict =  dict(zip(cities, most_popular_month_list))
most_popular_day_dict = dict(zip(cities, most_popular_day_list))
most_popular_hour_dict = dict(zip(cities, most_popular_hour_list))

In [112]:
print(most_popular_month_dict)
print(most_popular_day_dict)
print(most_popular_hour_dict)

{'chicago': 6, 'new york city': 6, 'washington': 6}
{'chicago': 'Tuesday', 'new york city': 'Wednesday', 'washington': 'Wednesday'}
{'chicago': 17, 'new york city': 17, 'washington': 8}

In [113]:
most_common_start_station_list = []
most_common_end_station_list = []
most_common_match_list = []

In [114]:
for data in df:
    data['Start to End'] = data['Start Station'].str.cat(data['End Station'], sep = '-')
    most_common_start_station = data['Start Station'].mode()[0]
    most_common_start_station_list.append(most_common_start_station)
    most_common_end_station = data['End Station'].mode()[0]
    most_common_end_station_list.append(most_common_end_station)
    most_common_match = data['Start to End'].mode()[0]
    most_common_match_list.append(most_common_match)

In [115]:
print(most_common_start_station_list)
print(most_common_end_station_list)
print(most_common_match_list)

['Streeter Dr & Grand Ave', 'Pershing Square North', 'Columbus Circle / Union Station']
['Streeter Dr & Grand Ave', 'Pershing Square North', 'Columbus Circle / Union Station']
['Lake Shore Dr & Monroe St-Streeter Dr & Grand Ave', 'E 7 St & Avenue A-Cooper Square & E 7 St', 'Jefferson Dr & 14th St SW-Jefferson Dr & 14th St SW']

In [116]:
for x, y in zip(cities, most_common_start_station_list):
    print(x, y)
for x, y in zip(cities, most_common_end_station_list):
    print(x, y)
for x, y in zip(cities, most_common_match_list):
    print(x, y)

chicago Streeter Dr & Grand Ave
new york city Pershing Square North
washington Columbus Circle / Union Station
chicago Streeter Dr & Grand Ave
new york city Pershing Square North
washington Columbus Circle / Union Station
chicago Lake Shore Dr & Monroe St-Streeter Dr & Grand Ave
new york city E 7 St & Avenue A-Cooper Square & E 7 St
washington Jefferson Dr & 14th St SW-Jefferson Dr & 14th St SW

In [117]:
most_common_start_station_dict = dict(zip(cities, most_common_start_station_list))
most_common_end_station_dict = dict(zip(cities, most_common_end_station_list))
most_common_match_dict = dict(zip(cities, most_common_match_list))

In [118]:
print(most_common_start_station_dict)
print(most_common_end_station_dict)
print(most_common_match_dict)

{'chicago': 'Streeter Dr & Grand Ave', 'new york city': 'Pershing Square North', 'washington': 'Columbus Circle / Union Station'}
{'chicago': 'Streeter Dr & Grand Ave', 'new york city': 'Pershing Square North', 'washington': 'Columbus Circle / Union Station'}
{'chicago': 'Lake Shore Dr & Monroe St-Streeter Dr & Grand Ave', 'new york city': 'E 7 St & Avenue A-Cooper Square & E 7 St', 'washington': 'Jefferson Dr & 14th St SW-Jefferson Dr & 14th St SW'}

In [119]:
total_travel_time_list = []
mean_travel_time_list = []

In [120]:
for data in df:
    total_travel_time = round(data['Trip Duration'].sum())
    minute, sec = divmod(total_travel_time, 60)
    hour, minute = divmod(minute, 60)
    total_travel_time = '{} hours {} minutes {} seconds'.format(hour, minute, sec)
    total_travel_time_list.append(total_travel_time)
    mean_travel_time = round(data['Trip Duration'].mean())
    mean_travel_time_list.append(mean_travel_time)

In [121]:
print(total_travel_time_list)
print(mean_travel_time_list)

['78019 hours 56 minutes 27 seconds', '74973 hours 40 minutes 48 seconds', '103106 hours 39 minutes 45 seconds']
[936, 900, 1237]

In [122]:
for x, y in zip(cities, total_travel_time_list):
    print (x, y)
for x, y in zip(cities, mean_travel_time_list):
    print (x, y)

chicago 78019 hours 56 minutes 27 seconds
new york city 74973 hours 40 minutes 48 seconds
washington 103106 hours 39 minutes 45 seconds
chicago 936
new york city 900
washington 1237

In [123]:
total_travel_time_dict = dict(zip(cities, total_travel_time_list))
mean_travel_time_dict = dict(zip(cities, mean_travel_time_list))

In [124]:
print(total_travel_time_dict)
print(mean_travel_time_dict)

{'chicago': '78019 hours 56 minutes 27 seconds', 'new york city': '74973 hours 40 minutes 48 seconds', 'washington': '103106 hours 39 minutes 45 seconds'}
{'chicago': 936, 'new york city': 900, 'washington': 1237}

In [125]:
user_type_stats_list = []
gender_stats_list = []
earliest_birth_year_list = []
latest_birth_year_list = []
most_common_birth_year_list = []

In [126]:
for data in df:
    user_type_stats = data['User Type'].value_counts()
    user_type_stats_list.append(user_type_stats)
    try:
        gender_stats = data['Gender'].value_counts()
        gender_stats_list.append(gender_stats)
    except:
        gender_stats_list.append('Nil')
    try:
        earliest_birth_year = int(data['Birth Year'].min())
        earliest_birth_year_list.append(earliest_birth_year)
        latest_birth_year = int(data['Birth Year'].max())
        latest_birth_year_list.append(latest_birth_year)
        most_common_birth_year = int(data['Birth Year'].mode()[0])
        most_common_birth_year_list.append(most_common_birth_year)
    except:
        earliest_birth_year_list.append('Nil')
        latest_birth_year_list.append('Nil')
        most_common_birth_year_list.append('Nil')

In [127]:
print(user_type_stats_list)
print(gender_stats_list)
print(earliest_birth_year_list)
print(latest_birth_year_list)
print(most_common_birth_year_list)

[Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64, Subscriber    269149
Customer       30159
Name: User Type, dtype: int64, Subscriber    220786
Customer       79214
Name: User Type, dtype: int64]
[Male      181190
Female     57758
Name: Gender, dtype: int64, Male      204008
Female     66783
Name: Gender, dtype: int64, 'Nil']
[1899, 1885, 'Nil']
[2016, 2001, 'Nil']
[1989, 1989, 'Nil']

In [128]:
for x, y in zip(cities, user_type_stats_list):
    print(x, y)
for x, y in zip(cities, gender_stats_list):
    print(x, y)
for x, y in zip(cities, earliest_birth_year_list):
    print(x, y)
for x, y in zip(cities, latest_birth_year_list):
    print(x, y)
for x, y in zip(cities, most_common_birth_year_list):
    print(x, y)

chicago Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64
new york city Subscriber    269149
Customer       30159
Name: User Type, dtype: int64
washington Subscriber    220786
Customer       79214
Name: User Type, dtype: int64
chicago Male      181190
Female     57758
Name: Gender, dtype: int64
new york city Male      204008
Female     66783
Name: Gender, dtype: int64
washington Nil
chicago 1899
new york city 1885
washington Nil
chicago 2016
new york city 2001
washington Nil
chicago 1989
new york city 1989
washington Nil

In [129]:
user_type_stats_dict = dict(zip(cities, user_type_stats_list))
gender_stats_dict = dict(zip(cities, gender_stats_list))
earliest_birth_year_dict = dict(zip(cities, earliest_birth_year_list))
latest_birth_year_dict = dict(zip(cities, latest_birth_year_list))
most_common_birth_year_dict = dict(zip(cities, most_common_birth_year_list))

In [130]:
print(user_type_stats_dict)
print(gender_stats_dict)
print(earliest_birth_year_dict)
print(latest_birth_year_dict)
print(most_common_birth_year_dict)

{'chicago': Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64, 'new york city': Subscriber    269149
Customer       30159
Name: User Type, dtype: int64, 'washington': Subscriber    220786
Customer       79214
Name: User Type, dtype: int64}
{'chicago': Male      181190
Female     57758
Name: Gender, dtype: int64, 'new york city': Male      204008
Female     66783
Name: Gender, dtype: int64, 'washington': 'Nil'}
{'chicago': 1899, 'new york city': 1885, 'washington': 'Nil'}
{'chicago': 2016, 'new york city': 2001, 'washington': 'Nil'}
{'chicago': 1989, 'new york city': 1989, 'washington': 'Nil'}